.#{$ns}-body-ha03
  background: $color-yellow
  padding: 0 50px

  > .#{$ns}-wrapper
    max-width: 880px

.#{$ns}-ha03
  margin-top: 12.3vw

  > .#{$ns}-wrapper
    max-width: 800px

.#{$ns}-ha03-symbols
  align-items: center
  display: flex
  flex-wrap: wrap
  margin-bottom: 8vw
  padding: 0

  li
    flex: 1
    margin: 0
    padding: 0
    text-align: center
    transition: all 1s ease

    @media (max-width: #{$viewport-big - 1})
      flex: 2
      margin: 5vw 0
      min-width: 50%

    img
      display: inline-block
      width: 70%

.#{$ns}-ha03-content
  align-content: stretch

  @media (max-width: #{$viewport-big - 1})
    align-content: flex-start

    .#{$ns}-col
      min-width: 100%
      padding-right: 0px !important

    .#{$ns}-ha03-info
      bottom: auto
      margin-bottom: 7vw
      min-width: 100%
      position: relative
      top: auto

  .#{$ns}-col
    position: relative
    transition: all 1s ease

.#{$ns}-ha03-info
  background: $color-white
  border-bottom: 8px solid $color-gray-dark
  bottom: 0px
  display: flex
  flex-direction: column
  justify-content: center
  padding: 15px 30px
  position: absolute
  top: 0px
  width: calc(100% - 50px)

  h1
    +font-size(37)
    line-height: 1.1
    margin-bottom: 0px

  p
    +font-size(25)
    line-height: 1.2
    margin-top: 14px
    opacity: 0.5

    span
      @media (max-width: #{$viewport-big - 1})
        display: none

.#{$ns}-ha03-about
  p
    +font-size(17)
    font-style: italic
    hyphens: auto
    line-height: 1.6

    &:first-of-type
      margin-top: 0px

    &:last-of-type
      opacity: 0.5
      margin-bottom: 0px

      img
        display: inline-block
        height: 18px
        margin-right: 10px
        transform: translateY(3px)

.#{$ns}-ha03
  footer
    border-top: 1px solid rgba($color-gray-medium,0.4)
    font-style: italic
    margin-top: 8vw
    padding-top: 7vw
    text-align: center
