// -----------------------------------------------------------------------------
// Global class namespace.
// -----------------------------------------------------------------------------
$ns: dt
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Define your color palette over here.
// -----------------------------------------------------------------------------
$color-yellow: #fac135
$color-blue: #1c65d9
$color-dark-grey: #2d2d2d
$color-light-grey: #b1b1b1
$color-red: #ff3333
$color-purple: #673ab7
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Color associations.
// -----------------------------------------------------------------------------
$text-color: $color-dark-grey
$error-color: $color-red
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Resolution relative settings.
// -----------------------------------------------------------------------------
$viewport-small: 320px
$viewport-medium: 640px
$viewport-large: 1024px
$viewport-xlarge: 1280px
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Z-index listing.
// -----------------------------------------------------------------------------
$z-index: 1000
$z-index-overlay: $z-index + 10
// -----------------------------------------------------------------------------
